* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.titulo {
    font-family: 'Dancing Script', cursive;
    margin: auto;
    font-size:x-large;
    font-weight: bolder;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}


.header {
    display: flex;
    grid-area: encabezado;
    background-image: linear-gradient( to top right, rgb(235 , 203, 220),antiquewhite);
    position: sticky;
    top: 0px;
    padding: 10px;
    min-height: 160px;
    z-index: 4; /* para que el carusel pase por debajo del header*/
}

.nombreSlogan {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.logo img {
    height: 140px;
    margin-left: 60px;
    border-radius: 50%;
}
h2 {
    font-family: 'Dancing Script', cursive;
    
}

.navegador {
    font-size:medium;
    grid-area: navegador;
    display: flex;
}
.navegador ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    align-items: center;

}

.navegador ul li {
    padding: 10px;
}

.navegador ul li a {
    text-decoration: none;
}

.imagenPrincipal {
    margin: auto;
    grid-area: imagenPrincipal;
    border-radius: 10%;

}

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 10px;
    grid-area: contenedor;
    justify-content: center;
    
}

.menu {
    display: flex;
}

.menu section {
    margin: 30px;
}
.menu section ol {
    font-size: large;
    
    
}
.menu h1 {
    font-family:'Dancing Script', cursive;
    border: rgb(226, 212, 135) solid;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    
}

.nosotros {
    background-color: antiquewhite;
    text-align: center;
    font-size:xx-large;
    width: 100%;

}


.descripcion {
    background-color: rgb(255, 240, 244);
    font: bold;
    font-weight: bold;
    color: black;
    font-size: large;
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    height: 200px;
    width: 600px;
    overflow: scroll;
    margin: 20px 20px;
    margin-top: 0px;
}

.promo {
    display: flex;    
}


.otono {
    background-color: burlywood;
    height: 30rem;
    width: 35rem;
    margin: 10px;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: medium;
    transition: all 2s;
    
}

.otono:hover {
    transform: rotate(360deg);
    background-color: aqua;
}

.otono h2 {
    text-align: center;
}

.otono p {
    text-align: center;
}

.imagen {
    display: flex;
    flex-direction: row;
    

}

.imagen img {
    height: 30rem;
    width: 35rem;
    margin-left: 2rem;


}

.descripcionQuienesSomos {
    background-color: azure;
    font: bold;
    font-weight: bold;
    color: black;
    font-size: large;
    font-family: 'Dancing Script', cursive;
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.navegador a {
    transition: font-size 2s;
    color: black;

}

.navegador a:hover {
    font-size: 50px;
    color: burlywood;

}


.textoTestimonio {
    font-family: 'Dancing Script', cursive;
}

table,
tr,
td,
th {

    border: 1px solid black;
    margin: 50px 50px;
    padding: 40px 40px;
    margin-left: 250px;
    border-collapse: collapse;
    font-size: large;
}

.tabla {
    margin-left: 350px;
}

form {
    font-size: large;
    margin: 50px;
}

legend {
    text-align: center;

}


iframe {
    margin: auto;
    display: flex;
    height: 200%;
    width: 50%;
    margin-top: 10px;
}


textarea {
    margin: 50px;
    margin-left: 400px;
}

label {
    padding: 20px;

}

th {
    background-color: #5ff4ab;
}

td {
    align-items: center;
}

.contenedorQuienesSomos {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin: auto;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: footer;

}

.formulario {
    display: flex;
    flex-direction: row;
}
.carusel {
    grid-area: carusel;
        
}
.carousel-content {
    position: absolute;
    bottom:50%;
    left: 35%;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-family:'Dancing Script';;
    color: aliceblue;
    border-color:lightpink;
    border-style:groove;
    padding: 20px 20px;
    
}
.carousel-content h1 {
    align-items: center;
    justify-content: center;
    font-size: 100px;
    
}

  
.carousel-item img {
    height: 75vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon {
    height:80px;
    width: 80px;
    position: relative;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
}

.icon:hover:nth-child(1) {
    background-color: #e75a9e;
    box-shadow: 0 0 20px #e75a9e;
}
.icon:hover:nth-child(2) {
    background-color: red;
    box-shadow: 0 0 20px red;
}
.icon:hover:nth-child(3) {
    background-color: #5a8ee7;
    box-shadow: 0 0 20px #5a8ee7;
}
.icon i {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
}
.body {
    background-color:rgb(237, 213, 215);
    background-size: 100% 100%;
    background-attachment: fixed;
   /* display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    grid-template-areas:
        "encabezado encabezado encabezado"
        "imagenPrincipal imagenPrincipal imagenPrincipal"
        "contenedor contenedor contenedor"
        "carusel carusel carusel"
        "footer footer footer"
    ;*/
}

@media screen and (max-width:756px) {
    .body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 30% 20% 20% 10%;
        grid-template-areas: 
        "encabezado"
        "imagenPrincipal"
        "contenedor"
        "carusel"
        "footer"
        ;
    
    }
    .imagenPrincipal {
        width: 100%;
        margin-top: 0;
    }
    .logo img {
        margin: auto;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .carusel {
        width: 100%;
    }
    .contenedor {
        margin-top: -100px;
    }

}

.ubicanos {
    padding: 10px;
}