.navegador ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10rem;
    align-items: center;

}

/*.navegador {
    height:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}*/

.navegador li {
    list-style-type: none;
    
}

.navegador a{
    color: violet;
    font-size: large;
}